@model TEMIS.Models.Clientes

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Clientes</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PrimNombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrimNombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SegNombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SegNombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrimAprellido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrimAprellido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SegAprellido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SegAprellido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DUI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DUI)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Client_Edad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Client_Edad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nacionalidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nacionalidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ocupacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ocupacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Direccion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefonoo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefonoo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <p class="text-md-center">
                <input type="submit" value="Delete" class="btn btn-danger" /> |
                <button class="btn btn-outline-success">@Html.ActionLink("Back to List", "Index")</button>
            </p>        
        </div>
    }
</div>
