@model TEMIS.Models.Clientes

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Clientes</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PrimNombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrimNombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SegNombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SegNombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrimAprellido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrimAprellido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SegAprellido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SegAprellido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DUI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DUI)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Client_Edad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Client_Edad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nacionalidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nacionalidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ocupacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ocupacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Direccion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefonoo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefonoo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

    </dl>
</div>
<p class="text-md-center mt-3">
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_Cliente }, new { @class = "btn btn-warning" }) |
    <button type="button" class="btn btn-light">@Html.ActionLink("Back to List", "Index")</button>
</p>
