@model TEMIS.Models.Casos

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Casos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Caso_Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Caso_Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tipo_Facturacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tipo_Facturacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrecioCaso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrecioCaso)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_Case }) |
    @Html.ActionLink("Back to List", "Index")
</p>
