@model IEnumerable<TEMIS.Models.Casos>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Casos</h2>

<p>
    @Html.ActionLink("Agregar nuevo Caso", "Create")
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
</p>
<table class="table table-responsive-md">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Caso_Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tipo_Facturacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrecioCaso)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Caso_Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tipo_Facturacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PrecioCaso)
        </td>
        <td>
            <a href="@Url.Action("Edit", new { id = item.ID_Case })" class="btn btn-info" title="Edit">
                <i class="bi bi-pencil-fill"></i>
            </a>

            <a href="@Url.Action("Details", new { id = item.ID_Case })" class="btn btn-warning" title="Details">
                <i class="bi bi-eye-fill"></i>
            </a>

            <a href="@Url.Action("Delete", new { id = item.ID_Case })" class="btn btn-danger" title="Delete">
                <i class="bi bi-trash-fill"></i>
            </a>
        </td>
    </tr>
}

</table>
